version: '3.6'

services:
  
  elasticsearch:
    networks:
      - backend
    container_name: clearml-elastic
    environment:
      ES_JAVA_OPTS: -Xms1g -Xmx1g -Dlog4j2.formatMsgNoLookups=true
      bootstrap.memory_lock: "true"
      cluster.name: clearml
      cluster.routing.allocation.node_initial_primaries_recoveries: "2"
      discovery.zen.minimum_master_nodes: "1"
      discovery.type: single-node
      http.compression_level: "7"
      node.name: clearml
      reindex.remote.whitelist: '*.*'
      xpack.monitoring.enabled: "false"
      xpack.security.enabled: "false"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.9
    restart: unless-stopped
    user: "1000:1000"
    volumes:
      - clearml_elastic_data:/usr/share/elasticsearch/data
      - clearml_elastic_logs:/usr/share/elasticsearch/logs
    ports:
      - "9200:9200"

  mongo:
    networks:
      - backend
    container_name: clearml-mongo
    image: mongo:4.4
    restart: unless-stopped
    volumes:
      - clearml_mongo_data:/data/db
      - clearml_mongo_config:/data/configdb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ""
      MONGO_INITDB_ROOT_PASSWORD: ""

  redis:
    networks:
      - backend
    container_name: clearml-redis
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - clearml_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  webserver:
    command:
    - webserver
    container_name: clearml-webserver
    image: allegroai/clearml:latest
    restart: unless-stopped
    depends_on:
      - apiserver
    ports:
      - "8080:80"
    environment:
      CLEARML_SERVER_BINARY: apiserver
      CLEARML_WEB_HOST: "http://localhost:8080"
      CLEARML_API_HOST: "http://apiserver:8008"
      CLEARML_FILES_HOST: "http://fileserver:8081"
      CLEARML_API_ACCESS_KEY: ~
      CLEARML_API_SECRET_KEY: ~
    networks:
      - backend
      - frontend

  apiserver:
    command:
    - apiserver
    container_name: clearml-apiserver
    image: allegroai/clearml:latest
    restart: unless-stopped
    volumes:
      - clearml_logs:/var/log/clearml
      - clearml_config:/opt/clearml/config
      - clearml_fileserver_data:/mnt/fileserver
    ports:
      - "8008:8008"
    environment:
      CLEARML_REDIS_SERVICE_HOST: redis
      CLEARML_REDIS_SERVICE_PORT: 6379
      CLEARML_MONGODB_SERVICE_HOST: mongo
      CLEARML_MONGODB_SERVICE_PORT: 27017
      CLEARML_ELASTIC_SERVICE_HOST: elasticsearch
      CLEARML_ELASTIC_SERVICE_PORT: 9200
      CLEARML_CONFIG_DIR: /opt/clearml/config
    depends_on:
      - redis
      - mongo
      - elasticsearch
    networks:
      - backend

  fileserver:
    command:
    - fileserver
    container_name: clearml-fileserver
    image: allegroai/clearml:latest
    restart: unless-stopped
    volumes:
      - clearml_logs:/var/log/clearml
      - clearml_fileserver_data:/mnt/fileserver
      - clearml_config:/opt/clearml/config
    ports:
      - "8081:8081"
    environment:
      CLEARML_REDIS_SERVICE_HOST: redis
      CLEARML_REDIS_SERVICE_PORT: 6379
      CLEARML_MONGODB_SERVICE_HOST: mongo
      CLEARML_MONGODB_SERVICE_PORT: 27017
      CLEARML_ELASTIC_SERVICE_HOST: elasticsearch
      CLEARML_ELASTIC_SERVICE_PORT: 9200
    depends_on:
      - redis
      - mongo
      - elasticsearch
    networks:
      - backend

volumes:
  clearml_elastic_data:
  clearml_elastic_logs:
  clearml_mongo_data:
  clearml_mongo_config:
  clearml_redis_data:
  clearml_logs:
  clearml_config:
  clearml_fileserver_data:

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge